.article-centre{
    text-align: center;
}

.article-centre h1 span{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 69%;
    font-weight: 900;
    text-decoration: underline;
    background-color: rgb(165, 203, 129);
    color: rgb(204, 54, 54);

}

#profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#profile{
    display: flex;
    margin-top: 5px;
}

#names{
    margin-top: 5%;
}

#title-bold{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 800;
    margin-left: -45%;
    margin-bottom: 10px;
}

#date-style{
    margin-left: 8px;
    font-family: cursive;

}

#icons{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 1%;
    margin-left: -10%;
}

#img-content-para{
    width: 68%;
    margin-left: 17%;
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    line-height: 140%;
    color: black;
}

#btn{
    text-align: left;
    margin-left: 17%;
    margin-top: 1%;
}

#claps{
    text-align: left;
    margin-left: 20%;
    margin-top: 1%;
}

#profile-container1{
    display: flex;
    flex-flow: row;
    margin-left: 17%;
    margin-top: 2%;
}

#profile1{
    display: flex;
    margin-top: 5px;
}

#writenBy{
    margin-top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 800;
    margin-left: -47%;
    margin-bottom: 12px;
}

#name{
    margin-left: -45%;
    font-size: medium;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

/* blog styling */

@media screen and (max-width : 480px) {
    #profile-container{
      display: flex;
      flex-direction: column;
    }

    #name{
        margin-left: -42%;
    }

    #title-bold{
        margin-left: -37%;
    }

   #writenBy {
    margin-left: -50%;
   }

    #names{
        margin-top: 5%;
        margin-left: 1% ;
    }

    #profile div img{
        margin-left: 3%;
    }

      #icons{
        display: flex;
        flex-direction: row;
        gap: 2%;
        margin-top: 1%;
        margin-left: 12%;
    }

    #img-decor{
        width: 360px;
        height: 240px;
        margin-left: -1%;
    }

    #img-content-para{
        width: 97%;
        margin-left: 1%;
        margin-top: 1%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        line-height: 140%;
        color: black;
    }

    #btn{
        text-align: left;
        margin-left: 7%;
        margin-top: 4%;
    }

    #claps{
        text-align: left;
        margin-left: 7%;
        margin-top: 2%;
        font-weight: bold;
    }

    #profile-container1{
        display: flex;
        flex-flow: column;
        margin-left: 2%;
        margin-top: 2%;
    }

    #date-style{
        margin-left: 7px;
        margin-bottom: 8px;
        font-family: cursive;
     }

     /* #full-container{
        overflow-x: hidden;
     } */



}
